In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
tumbol_id = []
images = []
main_dir = 'data/image'

for file in os.listdir(main_dir):
    tumbol_id.append(file[:-4])
    images.append(file)
    
images_df = pd.DataFrame({'tumbol_ID': tumbol_id, 'images': images})
images_df['tumbol_ID'] = images_df['tumbol_ID'].astype('int')

In [3]:
train_df = pd.read_csv('data/ss3-tpmap-poverty-rate-prediction-accessibility/tpmap65_train_accessibility.csv')['tumbol_ID']
train_df = pd.DataFrame(train_df)
train_df

      tumbol_ID
0        110113
1        110115
2        110117
3        110151
4        110155
...         ...
4546     961105
4547     961201
4548     961202
4549     961302
4550     961303

[4551 rows x 1 columns]

In [4]:
test_df = pd.read_csv('data/ss3-tpmap-poverty-rate-prediction-accessibility/tpmap65_test.csv')['tumbol_ID']
test_df = pd.DataFrame(test_df)
test_df

      tumbol_ID
0        110110
1        110111
2        110152
3        110153
4        110154
...         ...
3029     961106
3030     961151
3031     961203
3032     961204
3033     961301

[3034 rows x 1 columns]

In [5]:
train_test_df = pd.concat([train_df, test_df], ignore_index=True)
train_test_df = pd.DataFrame(train_test_df)
train_test_df

      tumbol_ID
0        110113
1        110115
2        110117
3        110151
4        110155
...         ...
7580     961106
7581     961151
7582     961203
7583     961204
7584     961301

[7585 rows x 1 columns]

In [7]:
train_test_df.to_csv('all-tumbol-id.csv', index=False)

In [8]:
gee_df = pd.read_csv('data/GEE-v4.csv')
gee_df

,tumbol_ID,stdDev,max,sum_x,sum_y,sum,mean,B1_x,B2_x,B3_x,...,MSK_SNWPRB_y,QA10_y,QA20_y,QA60_y,2021_waterClass,gpw_v4_population_count_adjusted_to_2015_unwpp_country_totals_rev11_2000_30_sec_unwpp-adjusted_population_count,gpw_v4_population_count_adjusted_to_2015_unwpp_country_totals_rev11_2005_30_sec_unwpp-adjusted_population_count,gpw_v4_population_count_adjusted_to_2015_unwpp_country_totals_rev11_2010_30_sec_unwpp-adjusted_population_count,gpw_v4_population_count_adjusted_to_2015_unwpp_country_totals_rev11_2015_30_sec_unwpp-adjusted_population_count,gpw_v4_population_count_adjusted_to_2015_unwpp_country_totals_rev11_2020_30_sec_unwpp-adjusted_population_count
0,110116,7.793844,0.206210,1.617781,0.000628,246.711639,27.836933,4878.686263,4328.981804,4103.485673,...,0.013605,0.0,0.0,27.675676,3.403922,2313.110107,3130.494629,4039.519775,5182.693359,6497.666992
1,110113,6.828918,0.281376,0.900175,0.000352,57.910856,14.916433,4663.523546,4118.650328,3852.554245,...,0.000000,0.0,0.0,27.675676,4.392157,2313.597168,3131.154053,4040.370361,5183.785156,6499.035156
2,110112,3.285236,0.220740,2.071562,0.000792,132.800389,7.860747,3107.181809,2840.868680,2897.044992,...,0.027211,0.0,0.0,41.795918,24.415686,2312.866455,3130.164795,4039.093994,5182.147461,6496.982422
3,110101,8.567458,0.197259,1.124520,0.000674,178.035216,20.449991,5057.634642,4490.573551,4241.246816,...,0.000000,0.0,0.0,27.675676,10.145098,2556.893799,3460.424316,4465.253418,5728.908691,7182.470215
4,110114,16.853708,0.170754,0.850994,0.000544,196.963092,32.466444,4980.803080,4552.170181,4303.276420,...,0.000000,0.0,0.0,27.675676,1.329412,2313.597412,3131.154297,4040.370850,5183.785645,6499.036133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7251,960902,0.934066,0.522976,43.341983,0.000969,49.220389,0.495449,4508.648668,4269.817849,4200.679484,...,0.061644,0.0,0.0,84.164384,0.023529,37.625462,38.406391,37.378792,36.170628,34.202900
7252,961202,0.364483,0.531579,47.586000,0.001067,56.701840,0.493885,4633.852109,4387.132413,4310.327116,...,0.000000,0.0,0.0,70.136986,0.149020,184.519958,188.349731,183.310257,177.385284,167.735306
7253,961203,0.364736,0.495413,21.553906,0.000542,31.385436,0.614597,4953.919851,4662.774451,4567.543671,...,0.095890,0.0,0.0,70.136986,0.011765,302.048492,309.884888,303.126709,294.820068,280.198608
7254,961303,0.882984,0.428108,23.270584,0.000745,76.962373,1.191079,4827.691405,4577.944557,4517.170492,...,0.082192,0.0,0.0,98.191781,0.639216,44.166828,45.083527,43.877274,42.459064,40.149242
7255,961204,0.196093,0.534922,156.805657,0.003578,148.782649,0.374953,4821.083407,4554.927861,4443.712099,...,0.000000,0.0,0.0,70.136986,0.686275,294.895142,301.015808,292.961823,283.492676,268.070343